/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @use "../../theme/web/custom-variables.scss" as module1;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   C:\Mendix\Reproduction138376-main\deployment\sass\main.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   ,\a 2 | @use \"../../theme/web/custom-variables.scss\" as module1;\a   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   '\a   C:\\Mendix\\Reproduction138376-main\\deployment\\sass\\main.scss 2:1  root stylesheet";
}
